dash==2.3.1
plotly==5.9.0
dash-extendable-graph==1.3.0
pandas==1.4.3
Flask-Login==0.6.1
gspread==5.4.0
oauth2client==4.1.3
Flask-WTF==1.0.1
WTForms==3.0.1
Flask-Bootstrap==3.3.7.1
Flask==2.0.2
Flask-Caching==1.10.1
Flask-Compress==1.10.1
Flask-Login==0.6.1
Flask-Migrate==3.1.0
Flask-SQLAlchemy==2.5.1
requests-oauthlib==1.3.1
gunicorn==20.1.0
